<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>		        
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="https://scholar.google.com/citations?user=ifvqPp0AAAAJ&hl=en">Google Scholar</a></li>
				<li><a href="https://twitter.com/MikeMcClurkinMD">Twitter</a></li>
			
	    		</ul>
			</nav>
			<div class="container">
	<img  class="img-circle avatar" alt="Jonathan McGlone" src="css/MM ERAS.jpg">
	</div>
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:michael.mcclurkin@yale.edu">email</a></li>
	        		<li><a href="https://github.com/michaelmcclurkin">github.com/michaelmcclurkin</a></li>
				</ul>
			</footer>
		</body>
	</html>
